.formControl {
    display: block;
    width: 60%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #e9fbeb !important;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.customCardLight {
    margin-top: 50px;
    width: 25rem;
    box-shadow: rgba(0, 0, 0, 0.1) -10px -2px 10px 10px;
    border-radius: 8px;
    overflow: hidden;
}

.btnOutlineLight {
    background-color: #e9fbeb;
    border-radius: 0;
    color: #000;
    border: 1px solid #000;
}

.btnOutlineLight:hover {
    background-color: #000;
    color: #fff;
}

.tag {
    margin-right: 3.5rem;
}

.btnLinkLight {
    text-decoration: none;
    background-color: transparent;
    border: 1px solid #000;
    color: #000;
    transition: .7s;
    font-size: 1em;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}

.btnLinkLight:hover {
    background-color: #000;
    color: #fff;
}

.btnBuutonLight {
    text-decoration: none;
    background-color: transparent;
    border: 1px solid #000;
    color: #000;
    transition: .7s;
    font-size: 1em;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}

.btnBuutonLight:hover {
    background-color: #dc3545;
    color: #fff;
}

.customCardDark {
    margin-top: 50px;
    width: 25rem;
    box-shadow: rgb(187, 181, 181) -10px -2px 10px 10px;
    border-radius: 8px;
    overflow: hidden;
}

.btnOutlineDark {
    background-color: #e9fbeb;
    border-radius: 0;
    color: #000;
    border: 1px solid #fff;
}

.btnOutlineDark:hover {
    background-color: #fff;
    color: #000;
}

.btnLinkDark {
    text-decoration: none;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    transition: .7s;
    font-size: 1em;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}

.btnLinkDark:hover {
    background-color: #fff;
    color: #000;
}

.btnBuutonDark {
    text-decoration: none;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    transition: .7s;
    font-size: 1em;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}

.btnBuutonDark:hover {
    background-color: #dc3545;
    color: #000;
}

@media (max-width: 400px) {
    .tag {
        margin-right: 1rem;
    }

    .customCardLight {
        width: 20rem;
    }

    .customCardDark {
        width: 20rem;
    }
}